* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

form {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    margin-top: 50px;
    width: 300px;

    border-radius: 10px;
    background-color: rgb(118, 187, 255);
    padding: 10px;

    text-transform: uppercase;
    font-weight: bold;
}

form input {
    width: 100%;
}

.dadosCadastrados {
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(118, 187, 255);
    width: 900px;
    padding: 10px;

    text-transform: uppercase;
}

.dadosCadastrados table {
    font-family: arial, sans-serif;
    border: 0;
    width: 100%;
}  

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-transform: uppercase;
}

td, tr {
    text-transform: initial;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}